.formInput {
    width: 100%;
    font-size: 16px;
    color: $color-coal !important;
    padding: 10px;
    border: 1px solid $color-brand;
    border-radius: 10px;
    transition: 0.5s;

    @media screen and (max-width: 1199px) {
        font-size: 12px;
    }

    &:focus-visible {
        outline: $color-brand;
    }
}