$color-brand: #1f5473;
$color-brand-red: #e2000f;
$color-coal: #181818;
$color-white: #ffffff;
$color-grey: #e9e9e9;
$color-disabled: rgba(0, 0, 0, 0.5);
$color-success: #00931a;
$color-error: #9f0000;

$shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);