.button {
  background: #e2000f;
  width: 320px;
  height: 45px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  position: fixed;
  bottom: 20px;
  right: 40px;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .button {
    right: 20px;
  }
}
@media screen and (max-width: 399px) {
  .button {
    width: calc(100% - 40px);
    font-size: 12px;
    height: 30px;
  }
}
.button[data-admin=true] {
  background: #00931a;
}
.button:hover {
  background: #1f5473;
  transition: 0.3s;
}

.buttonForm {
  position: relative;
  bottom: unset;
  right: unset;
  width: 100%;
}