* {
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1199px) {
  .main {
    margin-top: 90px;
  }
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.sectionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
}