.form__edit-img {
    background-image: url(../../assets/images/pencil.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
    transition: opacity .3s;

    &:hover {
        opacity: .7;
        transition: opacity .3s;
    }
}