@mixin h1 {
    font-size: 28px;
	font-weight: 600;
	line-height: 1.2;

	@media screen and (max-width: 1199px) {
		font-size: 20px;
		margin-bottom: 20px;
	}
}

@mixin h2 {
    font-size: 24px;
	font-weight: 600;
	line-height: 1.2;

	@media screen and (max-width: 1199px) {
		font-size: 20px;
		margin-bottom: 20px;
	}
}

@mixin h3 {
    font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	color: $color-brand-red;

	@media screen and (max-width: 1199px) {
		font-size: 16px;
		margin-bottom: 0px;
	}
}

@mixin text {
    font-size: 16px;
    color: $color-coal;
    line-height: 1.2;
    font-weight: 400;
}