.headerText {
	color: $color-coal;
	transition: 0.3s;
	cursor: pointer;

	&:hover {
		transition: 0.3s;
		color: $color-brand-red;
	}

	@media screen and (max-width: 1199px) {
		font-size: 12px;
	}
}
