@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");
* {
	margin: 0;
	box-sizing: border-box;
}

.page {
	width: 100%;
	padding: 0 40px;
	font-family: Inter;
	font-size: 18px;

	@media screen and (max-width: 1199px) {
		padding: 0 20px;
	}
}
