.list__item {
  display: grid;
  grid-template-columns: 1fr 1.2fr 0.6fr 1fr 22px;
  padding: 0;
  align-items: center;
  border: 1px solid $color-coal;
  border-right: none;
  height: 30px;
  position: relative;

  #flags & {
    display: flex;
	  border: none;
	  height: auto;
  }

  #staff & {
    border-radius: 10px;
    transition: .3s;
    overflow: hidden;
  }

  #staff &:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    transition: .3s;
  }
}
