.formInputWrapper {
  border: none;
  margin: 0;
  padding: 0 0 30px 0;
  position: relative;
}

.formInput {
  width: 100%;
  font-size: 16px;
  color: #181818 !important;
  padding: 10px;
  border: 1px solid #1f5473;
  border-radius: 10px;
  transition: 0.5s;
}
@media screen and (max-width: 1199px) {
  .formInput {
    font-size: 12px;
  }
}
.formInput:focus-visible {
  outline: #1f5473;
}

.formError {
  font-size: 16px;
  color: #181818;
  line-height: 1.2;
  font-weight: 400;
  color: #e2000f;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  position: absolute;
  top: 40px;
  left: 0;
  transition: 0.3s;
}

.formErrorHidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}